## Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

In [3]:
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444)) 
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

## Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

In [4]:
def multiply_nums(nums):
    # Split the string into a list of numbers
    num_list = nums.split(", ")
    product = 1
    for num in num_list:
        product *= int(num)
    return product

In [5]:
print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

## Question 3
Create a function that squares every digit of a number.

In [6]:
def square_digits(num):
    num_str = str(num)
    squared_str = "".join(str(int(digit) ** 2) for digit in num_str)
    squared_num = int(squared_str)    
    return squared_num

In [7]:
print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

## Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [8]:
def setify(lst):
    unique_lst = sorted(set(lst))
    return list(unique_lst)

In [9]:
print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

## Question 5
Create a function that returns the mean of all digits.

In [10]:
def mean(num):
    digits = [int(digit) for digit in str(num)]
    mean_value = sum(digits) // len(digits)
    return mean_value

In [11]:
print(mean(42)) 
print(mean(12345)) 
print(mean(666))

3
3
6